.header__logo-img {
    width: 120px; /* Поменяйте цифру на ту, что вам подходит */
    height: auto;
}

.hero__image {
    width: 1200px; /* Поменяйте цифру на ту, что вам подходит */
    height: auto;
}

.news-item__image {
    width: 500px; /* Поменяйте цифру на ту, что вам подходит */
    height: auto;
}