.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    z-index: 10;
}

.logo {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 19px;
}

.nav-links a {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}


.hero {
    position: relative;
    height: 719px;
    margin-top: 65px;
}

.hero img {
    position: absolute;
    width: 100%;
    height: 719px;
    object-fit: cover;
    top: 0;
    left: 0;
}

/* Dark overlay */
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* Title */
.hero h1 {
    position:absolute;
    top: 310px;
    left: 170px;
    font-family: 'Cinzel', serif;
    font-size: 90px;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}